---
import presentation from "@/data/presentation";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
---

<article class="flex flex-col gap-8">
  <div class="flex flex-col gap-8">
    <p
      class="w-auto max-w-[60ch] text-slate-300 leading-relaxed"
      set:html={convertAsteriskToStrongTag(presentation.description)}
    />

    <p class="text-slate-300 text-sm">
      Contact me here:
      <a
        href={`mailto:${presentation.mail}`}
        class="text-yellow-400 hover:text-yellow-300 underline transition-colors"
      >
        {presentation.mail}
      </a>
    </p>
  </div>
</article>

