---
import Layout from "@/layouts/Layout.astro";
import Fotter from "@/components/Fotter.astro";
import Hero from "@/components/sections/Hero.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import Education from "@/components/sections/Education.astro";
import Awards from "@/components/sections/Awards.astro";
import Certifications from "@/components/sections/Certifications.astro";
import Skills from "@/components/sections/Skills.astro";
---

<Layout>
  <main class="flex flex-col gap-20">
    <div id="hero">
      <Hero />
    </div>
    
    <div id="experience">
      <Experience />
    </div>

    <div id="projects">
      <Projects />
    </div>

    <div id="education">
      <Education />
    </div>

    <div id="awards">
      <Awards />
    </div>

    <div id="certifications">
      <Certifications />
    </div>

    <div id="skills">
      <Skills />
    </div>

    <Fotter />
  </main>
</Layout>
