---
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Projects.astro";

---

<Layout>
    <main class="flex flex-col gap-20">
        <article class="flex flex-col gap-8">
            <header class="flex w-full flex-row justify-between gap-2">
              <h1 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white">
                Side projects 

              </h1>
            </header>
      
            <Projects />
          </article>
    </main>
</Layout>