@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 100, 200, 300, 500, 600, 700, 800, 900;
    font-style: normal;
  }
  @font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
    font-weight: 100, 200, 300, 500, 600, 700, 800, 900;
    font-style: normal;
  }