*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --mirege: #151625;
  --blue: rgb(17, 24, 39);
  --Turquoise: #33C6BF ;
  --Turquoise: #33C6BF;
  --tw-bg-opacity: 1;
}
/*Dark mode*/
h1, h2, h3, p{
  color: hsl(221, 39%, 11%);
}
.button p{
  color: #fff;
}
.button{
  width: 280px;
  height: 50px;
  display: inline-block;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111827ee; 
 }
 .button:hover{
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 4px inset, #434a57ee 0px 0px 0px 4px;
 }
@media (prefers-color-scheme: dark) {
  h1, h2, h3, p{
    color: hsl(0, 0%, 100%);
  }
  .button p{
    color: hsl(221, 39%, 11%);
  }
  body{
    background: var(--blue);
  }
  .button{
    background: rgb(255, 255, 255); 
  }
}

/* ---------------*/
body{
  /* background: var(--mirege); */
  height: auto;
  padding: 20px;
  font-family: 'Inter';
}

.main-container{
  max-width: 1218px;
  margin: 0 auto;
}
.header__nav{
  width: 100%;
  font-family: 'Inter';
  display: flex;
  justify-content: space-between;
}
.nav__items{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}
.nav__items .item{
  /* color: #ffffff; */
  list-style-type: none;
}
.display-none{
  display: none;
}
.nav__logo,
.nav__burger{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nav__burger{
  background: rgba(240, 240, 240, .2);
  text-align: center;
  padding: 6.5px;
  cursor: pointer;
}
.text-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
.header__information{
  width: 100%;
  margin-top: 50px;
  font-family: 'Manrope';
}
.header__information img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.header__information h1{
  text-align: justify;
  font-weight: 800;
  max-width: 536px ;
  font-size: 30px;
  line-height: 1.5;
}
@media (max-width:719px) {
  .header__information h1{
    text-align: center;
  }
}
.header__information h1 span{
  /*color: var(--Turquoise) ;*/
}
.button p {
  text-align: center;
  padding: 10px;
} 
