---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="flex flex-col gap-20">
        <article>
            <h1
                class="mb-6 flex items-center gap-x-8 text-3xl font-semibold text-white"
            >
                My work
            </h1>
            <p class="text-slate-100/75">
                On a mission to build products developers love, and along the
                way, teach the next generation of developers. Here's a summary
                of my work so far.
            </p>

            <hr class="my-8 h-px border-0 bg-gray-700" />

            <section>
                <header class="mb-5">
                    <h4 class="text-lg font-bold">VELAIO</h4>
                    <p class="text-sm text-slate-300">
                        Zoho expert - currenly working
                    </p>
                </header>
                <div
                    class="flex flex-col gap-5 text-slate-100/75 [&>p>strong]:text-yellow-500"
                >
                    <p>
                        Hy-Vee, an almost 100-year-old grocery chain in the
                        United States, wanted to build a new version of their
                        digital storefront. I joined a team of product engineers
                        working across web and mobile to rebuild their legacy <strong
                            >.NET application (~500k MAU)</strong
                        > with React and React Native.
                    </p>
                    <p>
                        On the frontend, I led our move from a custom webpack
                        and React configuration to Next.js and the latest React
                        patterns. In the process, I shared my learnings online,
                        helping educate members of the React and Next.js
                        community by creating courses.
                    </p>
                    <p>
                        Throughout my two years, I was able to work on some hard
                        problems: decoupling a decade old monolith into
                        microservices, working with a federated GraphQL API,
                        learning and occasionally managing a Kubernetes cluster,
                        building and implementing a design system, incrementally
                        migrating individual components and routes to a new
                        framework and infrastructure, and more.
                    </p>
                </div>
            </section>
        </article>
    </main>
</Layout>
