---
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/Experience.astro"

---

<Layout>
    <main class="flex flex-col gap-20">
        <article>
            <h3 class="text-lg text-neutral-100 font-semibold">Work Experience</h3>
            <Experience />
          </article>
    </main>
</Layout>